parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$text of function esc_html expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: includes/Admin/SubmissionLogListTable.php

		-
			message: '#^Parameter \#1 \$query of method wpdb\:\:prepare\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 16
			path: includes/Repositories/CampaignRecipientRepository.php

		-
			message: '#^Parameter \#1 \$query of method wpdb\:\:query\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 5
			path: includes/Repositories/CampaignRecipientRepository.php

		-
			message: '#^Parameter \#1 \$query of method wpdb\:\:prepare\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: includes/Repositories/ConsentTextRepository.php

		-
			message: '#^Parameter \#1 \$query of method wpdb\:\:prepare\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 2
			path: includes/Repositories/FieldRepository.php

		-
			message: '#^Parameter \#1 \$query of method wpdb\:\:prepare\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 6
			path: includes/Repositories/ListRepository.php

		-
			message: '#^Parameter \#1 \$query of method wpdb\:\:prepare\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 6
			path: includes/Repositories/PendingSignupRepository.php

		-
			message: '#^Parameter \#1 \$query of method wpdb\:\:query\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 2
			path: includes/Repositories/PendingSignupRepository.php

		-
			message: '#^Parameter \#1 \$query of method wpdb\:\:prepare\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 8
			path: includes/Repositories/SubmissionLogRepository.php

		-
			message: '#^Parameter \#1 \$query of method wpdb\:\:query\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 2
			path: includes/Repositories/SubmissionLogRepository.php

		-
			message: '#^Parameter \#1 \$query of method wpdb\:\:prepare\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 4
			path: includes/Repositories/SubscriberMetaRepository.php

		-
			message: '#^Parameter \#1 \$query of method wpdb\:\:query\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: includes/Repositories/SubscriberMetaRepository.php

		-
			message: '#^Parameter \#1 \$query of method wpdb\:\:prepare\(\) expects literal\-string, non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 12
			path: includes/Repositories/SubscriberRepository.php

		-
			message: '#^Parameter \#1 \$query of method wpdb\:\:query\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 7
			path: includes/Repositories/SubscriberRepository.php
